<nav class="orange darken-3">
  <a href="#" class="brand-logo">{{title}}</a>
  <a href="#" data-activates="sideBar" class="button-collapse right"><i class="material-icons">menu</i></a>
</nav>

<div class="container">
      <div class="row">
        {{#each list}}
         <div class="col s4">
           <div class="card">
             <div class="card-image">
               <img src="{{this.image}}">
             </div>
             <div class="card-content">
              {{this.name}}
             </div>
             <div class="card-action">
               <a href="/{{../route}}/{{this.id}}">More Info</a>
             </div>
           </div>
         </div>
         {{/each}}
       </div>
  <a href="/{{route}}/add" class="btn orange accent-4">Add {{title}}</a>
</div>
