<nav class="indigo">
  <a href="#" class="brand-logo">{{item.name}}</a>
  <a href="#" data-activates="sideBar" class="button-collapse right"><i class="material-icons">menu</i></a>
</nav>

<div class="container">
  <div class="row">
    <div class="col s12">
      <br>
      <img class="materialboxed" data-caption="{{item.name}}" width="200" src="{{item.image}}">
      {{item.year}}
      <p>
        {{item.bio}}
      </p>
      <ul>
        {{#if item.languages}}
          <h5>Languages: </h5>
          {{#each item.languages}}
            <li>{{this.name}}</li>
          {{/each}}
        {{else if item.puppies}}
          <h5>Puppies that know this language: </h5>
          {{#each item.puppies}}
            <li>{{this.name}}</li>
          {{/each}}
        {{/if}}
      </ul>
      <a href="/{{route}}/edit/{{item.id}}" class="btn deep-purple accent-2">Edit</a>
    </div>
  </div>
</div>
